{% extends 'base.html' %}
{% load static %}
{% block content %}
<!--Page Title-->
<section class="page-title" style="background-image:url({% static 'services/images/background/12.jpg' %})">
	<div class="auto-container">
		<h1>Services</h1>
		<div class="text"> If It Runs On Diesel…We’ll Fix It!</div>
	</div>
</section>
<!--End Page Title-->

<!--Services page Section-->
<section class="services-page-section">
	<div class="auto-container">
		<div class="row clearfix">
			
			<!--Services Block-->
			<div class="services-block col-lg-4 col-md-6 col-sm-12">
				<div class="inner-box">
					<div class="content">
						<div class="image">
							<img src="{% static 'services/images/resource/service-1.jpg' %}" alt="" />
							<div class="overlay-box">
								<div class="overlay-inner">
									<div class="icon-box">
										<div class="icon flaticon-funnel"></div>
									</div>
								</div>
							</div>
						</div>
						<h3><a href="#">Full Service</a></h3>
						<div class="text">This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor </div>
					</div>
				</div>
			</div>
			
			<!--Services Block-->
			<div class="services-block col-lg-4 col-md-6 col-sm-12">
				<div class="inner-box">
					<div class="content">
						<div class="image">
							<img src="{% static 'services/images/resource/service-2.jpg' %}" alt="" />
							<div class="overlay-box">
								<div class="overlay-inner">
									<div class="icon-box">
										<div class="icon flaticon-funnel"></div>
									</div>
								</div>
							</div>
						</div>
						<h3><a href="#">AC Repair</a></h3>
						<div class="text">This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor </div>
					</div>
				</div>
			</div>
			
			<!--Services Block-->
			<div class="services-block col-lg-4 col-md-6 col-sm-12">
				<div class="inner-box">
					<div class="content">
						<div class="image">
							<img src="{% static 'services/images/resource/service-3.jpg' %}" alt="" />
							<div class="overlay-box">
								<div class="overlay-inner">
									<div class="icon-box">
										<div class="icon flaticon-funnel"></div>
									</div>
								</div>
							</div>
						</div>
						<h3><a href="#">Oil Change</a></h3>
						<div class="text">This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor </div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</section>
<!--End Services page Section-->

<!--Services Section Two-->
<section class="services-section-two">
	<div class="auto-container">
		<div class="row clearfix">
		
			<!-- Services Block Two -->
			<div class="services-block-two col-lg-3 col-md-6 col-sm-12">
				<div class="inner-box">
					<div class="icon-box">
						<span class="icon flaticon-car"></span>
					</div>
					<h3><a href="#">Full Service</a></h3>
					<div class="text">This is Photoshop's version  of Lorem Ipsukroin gravida nibh</div>
				</div>
			</div>
			
			<!-- Services Block Two -->
			<div class="services-block-two col-lg-3 col-md-6 col-sm-12">
				<div class="inner-box">
					<div class="icon-box">
						<span class="icon flaticon-pressure"></span>
					</div>
					<h3><a href="#">Tire Balance</a></h3>
					<div class="text">This is Photoshop's version  of Lorem Ipsukroin gravida nibh</div>
				</div>
			</div>
			
			<!-- Services Block Two -->
			<div class="services-block-two col-lg-3 col-md-6 col-sm-12">
				<div class="inner-box">
					<div class="icon-box">
						<span class="icon flaticon-plumber"></span>
					</div>
					<h3><a href="#">Oil Change</a></h3>
					<div class="text">This is Photoshop's version  of Lorem Ipsukroin gravida nibh</div>
				</div>
			</div>
			
			<!-- Services Block Two -->
			<div class="services-block-two col-lg-3 col-md-6 col-sm-12">
				<div class="inner-box">
					<div class="icon-box">
						<span class="icon flaticon-tools-2"></span>
					</div>
					<h3><a href="#">AC Repair</a></h3>
					<div class="text">This is Photoshop's version  of Lorem Ipsukroin gravida nibh</div>
				</div>
			</div>
			
			<!-- Services Block Two -->
			<div class="services-block-two col-lg-3 col-md-6 col-sm-12">
				<div class="inner-box">
					<div class="icon-box">
						<span class="icon flaticon-car-repair"></span>
					</div>
					<h3><a href="#">Full Service</a></h3>
					<div class="text">This is Photoshop's version  of Lorem Ipsukroin gravida nibh</div>
				</div>
			</div>
			
			<!-- Services Block Two -->
			<div class="services-block-two col-lg-3 col-md-6 col-sm-12">
				<div class="inner-box">
					<div class="icon-box">
						<span class="icon flaticon-tyre"></span>
					</div>
					<h3><a href="#">Tire Balance</a></h3>
					<div class="text">This is Photoshop's version  of Lorem Ipsukroin gravida nibh</div>
				</div>
			</div>
			
			<!-- Services Block Two -->
			<div class="services-block-two col-lg-3 col-md-6 col-sm-12">
				<div class="inner-box">
					<div class="icon-box">
						<span class="icon flaticon-diesel"></span>
					</div>
					<h3><a href="#">Oil Change</a></h3>
					<div class="text">This is Photoshop's version  of Lorem Ipsukroin gravida nibh</div>
				</div>
			</div>
			
			<!-- Services Block Two -->
			<div class="services-block-two col-lg-3 col-md-6 col-sm-12">
				<div class="inner-box">
					<div class="icon-box">
						<span class="icon flaticon-battery"></span>
					</div>
					<h3><a href="#">AC Repair</a></h3>
					<div class="text">This is Photoshop's version  of Lorem Ipsukroin gravida nibh</div>
				</div>
			</div>
			
		</div>
	</div>
</section>
<!--End Services Section Two-->

<!--Clients Section-->
	<section class="clients-section" style="background-image:url({% static 'services/images/background/1.jpg' %})">
	<div class="auto-container">
		
		<div class="sponsors-outer">
			<!--Sponsors Carousel-->
			<ul class="sponsors-carousel owl-carousel owl-theme">
				<li class="slide-item"><figure class="image-box"><a href="#"><img src="{% static 'services/images/clients/1.png' %}" alt=""></a></figure></li>
				<li class="slide-item"><figure class="image-box"><a href="#"><img src="{% static 'services/images/clients/2.png' %}" alt=""></a></figure></li>
				<li class="slide-item"><figure class="image-box"><a href="#"><img src="{% static 'services/images/clients/3.png' %}" alt=""></a></figure></li>
				<li class="slide-item"><figure class="image-box"><a href="#"><img src="{% static 'services/images/clients/4.png' %}" alt=""></a></figure></li>
				<li class="slide-item"><figure class="image-box"><a href="#"><img src="{% static 'services/images/clients/5.png' %}" alt=""></a></figure></li>
				<li class="slide-item"><figure class="image-box"><a href="#"><img src="{% static 'services/images/clients/1.png' %}" alt=""></a></figure></li>
				<li class="slide-item"><figure class="image-box"><a href="#"><img src="{% static 'services/images/clients/2.png' %}" alt=""></a></figure></li>
				<li class="slide-item"><figure class="image-box"><a href="#"><img src="{% static 'services/images/clients/3.png' %}" alt=""></a></figure></li>
				<li class="slide-item"><figure class="image-box"><a href="#"><img src="{% static 'services/images/clients/4.png' %}" alt=""></a></figure></li>
			</ul>
		</div>
		
	</div>
</section>
<!--End Clients Section-->
{% endblock  %}
